{{{ define "header" }}}
<!doctype html>
<html>
	<head>
		<title>geschenke</title>
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<link rel="stylesheet" href="/static/geschenke.css" />
		<script src="/static/vue.js"></script>
	</head>
	<body>
{{{ end }}}

{{{ define "footer" }}}
	</body>
</html>
{{{ end }}}
